node_modules
node_modules
/.vs/integrador-final/FileContentIndex/2625022c-50ad-4bcc-b5ad-720eec91f7ff.vsidx
/.vs/integrador-final/FileContentIndex/3a8e5333-8940-4173-8985-8c5a3daade8e.vsidx
/.vs/integrador-final/FileContentIndex/20404271-8f6a-476e-8828-c8f8c56873f9.vsidx
/.vs/integrador-final/FileContentIndex/0b897fdf-a51b-4252-98de-78929d021177.vsidx
*.vsidx
/.vs/slnx.sqlite
